[submodule "haxe-bootstrap"]
	path = lib/haxe-bootstrap
	url = https://github.com/clemos/haxe-bootstrap.git
[submodule "lib/CodeMirror-4"]
	path = lib/CodeMirror-4
	url = https://github.com/marijnh/CodeMirror.git
